# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env

# Logs
*.log

# CDSW old scripts
oldScripts/

# Oracle Instant Client
instantclient-23.26/

# Model / Data files
*.pkl

# Ruff cache
.ruff_cache/

# Oracle Instant Client
instantclient-23.26/
instantclient-*/
